{
    "ddr2ddr": [
        {
            "from": {
                "comp_name": "U16",
                "escaepe_dir": "W"
            },
            "to": {
                "comp_name": "U17",
                "escaepe_dir": "E"
            }
        }
    ]
}
