[
    {
        "from": {
            "comp_name": "U20",
            "escaepe_dir": "S"
        },
        "to": {
            "comp_name": "U22",
            "escaepe_dir": "N"
        }
    },
    {
        "from": {
            "comp_name": "U22",
            "escaepe_dir": "S"
        },
        "to": {
            "comp_name": "U25",
            "escaepe_dir": "N"
        }
    }
]