[
    {
        "from": {
            "comp_name": "U5",
            "escaepe_dir": "E"
        },
        "to": {
            "comp_name": "U6",
            "escaepe_dir": "W"
        }
    },
    {
        "from": {
            "comp_name": "U4",
            "escaepe_dir": "E"
        },
        "to": {
            "comp_name": "U3",
            "escaepe_dir": "W"
        }
    }
]
